/* ................mycode...... */
.custom-slider .ng5-slider .ng5-slider-selection {
    background: #28a745 !important;
  }
  
  
  
  .s-section-left{
    /* padding-top: 65px; */
  }
  .slide
  {
  
    width: auto !important;
    margin: auto !important;
    margin-right: 3px !important;
    color: #322941 !important;
    margin-left: 10px !important;
  }
  
  .search-result1 {
    font-size: 28px;
    font-weight: bold;
  }
  .bg
  {
    background: #EFF1F7;
  }
  
  .check
  {
    padding-left: 0px ;
      padding-right: 0px ;
      margin-top: 64px;
  }
  /* :host(.dropdown-menu .show) {
    
    margin-left: -15px !important;
    min-width: 20rem !important;
  } */
  .left-side-interest-bar{
    padding-left: 35px;
    padding-right: 35px;
      
  }
  .dropdown-menu
  {
    margin-left: -15px !important;
  }
  .header {
    font-family: Gilroy-Medium;
    font-size: 17px;
  }
  .line {
    border: 0.5px solid #F2F2F2;
    height: 0px;
    left: 252px;
    top: 388px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .interest-scroll-bar {
    height: 300px;
    overflow-y: scroll;
    
  }
  .scrollbar-pink::-webkit-scrollbar-track {
    -webkit-box-shadow: inset #EDEDED;
    background-color: #EDEDED;
    border-radius: 1px; }
    
    .scrollbar-pink::-webkit-scrollbar {
      width: 6px;
      background-color: #EDEDED; }
    .scrollbar-pink::-webkit-scrollbar-thumb {
      border-radius: 1px;
      -webkit-box-shadow: inset #EDEDED;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#28a745), color-stop(99%, #28a745),
      to(#90EE90));
      background-image: -webkit-linear-gradient(bottom, #00FF7F 0%, #90EE90 99%, #90EE90 100%);
      background-image: linear-gradient(to top, #28a745 0%, #28a745 99%, #28a745 100%); }
  .date-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .filter-by {
    font-size: 15px;
    /* border: 1px solid #E7E7E7;
    border-radius: 2px; */
    color: #646464;
    background: #EFF1F7; background-color: #EFF1F7; z-index: 1;top: 52px;
    
  }
  /* ..all about filters */
  .filter-by div {
    /* margin-top: 25px;
    margin-bottom: 5px; */
  }
  .filter-by div span {
    float: left;
  }
  .filter-list-group {
    margin-bottom: 0.5px !important;
  }
  .filter-list-group li {
    /* display: inline-block; */
  }
  .clear-all-int {
    padding-left: 10px;
    color: green;
  }
  
  .list-group-item {
      /* font-size: 12px;
      line-height: 15px;
      color: #646464;
      margin-left: 10px;
      margin-bottom: 2px; */
      border: 0px;
      /* border-radius: 100px;
      padding: 0.15rem 0.25rem;
      padding-right: 1px; */
      /* position: absolute; */
      width: 1000px;
      /* left: 263px; */
      padding: 0px;
      background: #EFF1F7;
      position: fixed;
      z-index: 1;
      left: 500px;
      top: 73px;
      
  
  }
  
  .list-group-item img{
    padding-right: 3px;
    padding-left: 3px;
  }
  /* ..search result ----- */
  .search-result {
    background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  }
  .more-filter {
    font-size: 12px;
      cursor: pointer;
      border: 3px solid;
      border-radius: 25px;
      padding: 6px;
      border-color: #a9a8b3;
  }
  .drpdwn{
    top: 14px;
    left: 1190px;
  }
  
  .eventsfor{
    margin-top: 12px;
    font-size: 23px;
    color: #322941
  }
  .newcls
  {
    width: 172px;
      background-color: #EEEBF2 !important;
    
    
      border: 1px solid #322941;
      border-radius: 5px;
      opacity: 0.5;
      text-align: left;
      color: #322941 !important;
      padding-left: 30px;
  }
  /* ... my code ........................... */
  
  @media screen and (min-width: 768px) {
    .left-side-interest-bar{
      padding-left: 27px;
      padding-right: 27px; 
    }
  
  }

  
  /* .... all about sideNav overly */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: -48px;
    right: -5px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  /* .. end */
  
  @media (min-width: 992px)
  {
  .col-lg-11 {
      flex: 0 0 91.666667%;
      max-width: 82.666667%;
  }
  }
  
  /* Caoursel */
  ::ng-deep a.carousel-control-prev, a.carousel-control-prev:hover {
    left:-7% !important;
    top: 10px !important;
  }
    ::ng-deep .carousel-control-next, .carousel-control-next:hover {
      right:-11% !important;
      top: 10px !important;
    }
    slide{margin:5px;}
    .carousel-caption{
      position:relative;
      text-align: center; 
      padding: 18px 0 0 0; 
      bottom: 0;
      font-size: 14px;
      color: #322941;
    }
  
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      /* padding: 14px 16px; */
      transition: 0.3s;
      /* font-weight: bold; */
  }
  
  .tab button:hover {
      /* background-color: #ddd; */
      background: #eae6ef 0% 0% no-repeat padding-box !important;
      opacity: 1;
  }
  
  .tab button.active {
      /* background-color: #ccc; */
      background: #eae6ef 0% 0% no-repeat padding-box !important;
      color: #466ce4;
  }
  
  @media screen and (min-width: 1860px) and (max-width: 1899px)
  {
    .drpdwn{
      left: 1150px !important;
    }
  }
  
  @media screen and (min-width: 1820px) and (max-width: 1859px)
  {
    .drpdwn{
      left: 1130px !important;
    }
  }
  
  @media screen and (min-width: 1800px) and (max-width: 1819px)
  {
    .drpdwn{
      left: 1100px !important;
    }
  }
  @media screen and (min-width: 1730px) and (max-width: 1799px)
  {
    .drpdwn{
      left: 1140px !important;
    }
    .list-group-item{
      left: 400px !important;
    }
  }
  @media screen and (min-width: 1700px) and (max-width: 1729px)
  {
    .drpdwn{
      left: 1100px !important;
    }
    .list-group-item{
      left: 400px !important;
    }
  }
  
  @media screen and (min-width: 1650px) and (max-width: 1699px)
  {
    .drpdwn{
      left: 1050px !important;
    }
    .list-group-item{
      left: 400px !important;
    }
  }
  
  @media screen and (min-width: 1600px) and (max-width: 1649px)
  {
    .drpdwn{
      left: 1050px !important;
     
    }
    .newcls{
      width: 150px !important;
    }
    .list-group-item{
      left: 390px !important;
    }
  }
  
  @media screen and (min-width: 1550px) and (max-width: 1599px)
  {
    .drpdwn{
      left: 1050px !important;
     
    }
    .newcls{
      width: 120px !important;
    }
    .list-group-item{
      left: 380px !important;
    }
  }
  
  
  @media screen and (min-width: 1500px) and (max-width: 1549px)
  {
    .drpdwn{
      left: 950px !important;
     
    }
     
    .newcls{
      width: 130px !important;
    }
    .list-group-item{
      left: 390px !important;
      width: 880px;
    }
   
  }
  
  @media screen and (min-width: 1430px) and (max-width: 1499px)
  {
    .drpdwn{
      left: 880px !important;
     
    }
     
    .newcls{
      width: 130px !important;
    }
    .list-group-item{
      left: 390px !important;
      width: 800px;
    }
  }
  
  @media screen and (min-width: 1400px) and (max-width: 1429px)
  {
    .drpdwn{
      left: 850px !important;
     
    }
     
    .newcls{
      width: 130px !important;
    }
    .list-group-item{
      left: 390px !important;
      width: 800px;
    }
  }
  
  
  @media screen and (min-width: 1350px) and (max-width: 1399px)
  {
    .drpdwn{
      left: 820px !important;
     
    }
     
    .newcls{
      width: 130px !important;
    }
    .list-group-item{
      left: 355px !important;
      width: 750px;
    }
    ::ng-deep .carousel-control-next, .carousel-control-next:hover {
      right:3% !important;
      top: 10px !important;
    }
  }
  
  @media screen and (min-width: 1300px) and (max-width: 1349px)
  {
    .drpdwn{
      left: 810px !important;
     
    }
     
    .newcls{
      width: 130px !important;
    }
    .list-group-item{
      left: 351px !important;
      width: 747px
    }
    ::ng-deep .carousel-control-next, .carousel-control-next:hover {
      right:-9% !important;
      top: 10px !important;
    }
  }
  
  @media screen and (min-width: 1230px) and (max-width: 1299px)
  {
    .drpdwn{
      left: 740px !important;
     
    }
     
    .newcls{
      width: 130px !important;
    }
    .list-group-item{
      left: 351px !important;
      width: 670px;
    }
    ::ng-deep .carousel-control-next, .carousel-control-next:hover {
      right:-9% !important;
      top: 10px !important;
    }
    .carousel-caption{
      font-size: 13px !important;
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1229px)
  {
    .drpdwn{
      left: 710px !important;
     
    }
     
    .newcls{
      width: 130px !important;
    }
    .list-group-item{
      left: 351px !important;
      width: 661px;
    }
    ::ng-deep .carousel-control-next, .carousel-control-next:hover {
      right:-9% !important;
      top: 10px !important;
    }
    .carousel-caption{
      font-size: 13px !important;
    }
  }
  @media screen and (min-width: 1140px) and (max-width: 1199px)
  {
    .drpdwn{
      left: 650px !important;
     
    }
     
    .newcls{
      width: 130px !important;
    }
    .list-group-item{
      left: 351px !important;
      width: 575px;
    }
    ::ng-deep .carousel-control-next, .carousel-control-next:hover {
      right:-9% !important;
      top: 10px !important;
    }
    .carousel-caption{
      font-size: 11px !important;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1139px)
  {
    .drpdwn{
      left: 650px !important;
     
    }
     
    .newcls{
      width: 130px !important;
    }
    .list-group-item{
      left: 351px !important;
      width: 575px;
    }
    ::ng-deep .carousel-control-next, .carousel-control-next:hover {
      right:-9% !important;
      top: 10px !important;
    }
    .carousel-caption{
      font-size: 11px !important;
    }
  }
  @media screen and (max-width:414px)
  {
    .s-section-left {
      padding-right: 25px !important;
      padding-left: 25px !important;
    }
    .col-1 {
      display: none !important;
    }
    .check{
      padding-left: 28px;
    }
    .eventsfor
    {
     
      /* padding-left: 75px; */
      margin-top: 50px;
      font-size: 20px;
    }
    .filter-by{
      left: 8px;
      top: 15px !important;
    }
    .check{
      margin-top: 20px !important;
    }
    .list-group-item{
      left: 73px;
      top: 116px;
    }
    .containerDiv 
    {
      width: 287px;
    }
    .carousel-caption{
      font-size: 5px !important;
    }
    .newcls {
      width: 110px;
      font-size: 10px;
    }
    .drpdwn {
      top: -40px;
      left: 170px;
  }
  }

  @media screen and (max-width:411px)
  {
    .check {
      padding-left: 28px;
  }
  }
  
  @media screen and (max-width:375px)
  {
    .s-section-left {
      padding-right: 25px !important;
      padding-left: 25px !important;
    }
    .col-1 {
      display: none !important;
    }
    .check{
      padding-left: 9px;
    }
    .eventsfor
    {
     
      /* padding-left: 75px; */
      margin-top: 50px;
      font-size: 20px;
    }
    .filter-by{
      left: 8px;
      top: 15px !important;
    }
    .check{
      margin-top: 20px !important;
    }
    .list-group-item{
      left: 73px;
      top: 116px;
    }
    .containerDiv 
    {
      width: 287px;
    }
    .carousel-caption{
      font-size: 5px !important;
    }
    .newcls {
      width: 110px;
      font-size: 10px;
    }
    .drpdwn {
      top: -40px;
      left: 170px;
  }
  }

  @media screen and (max-width:360px)
  {
    .check {
      padding-left: 2px !important;
  }
  }