<div class="row bg" style="overflow-x: hidden;">
  <div class="col-1  d-md-block left-side-interest-bar mb-3 mx-auto" style="margin-left: 0px !important;">
    <div class="row ">
      <app-sider-bar>

      </app-sider-bar>
    </div>
  </div>

  <div class="col-lg-11  col-sm-12 col-md-10 s-section-left mx-auto " style="">
    <div class="row">
      <div class="col-12 filter-by" style="">
        <div>
          <span class="eventsfor" style="font-family: BreeSerif-Regular;">Local news</span>
          <ul class="filter-list-group">


          </ul>

        </div>
      </div>
      <div class="col-12 check" style="">
        <app-newssearchlisting></app-newssearchlisting>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</div>