.card-size {
  padding-right: 14px;
  padding-left: 9px;
}

@media screen and (max-width: 1600px) {
  .card-size {
    padding-right: 30px;
    padding-left: 9px;
  }
}
@media screen and (max-width: 1536px) {
  .card-size {
    padding-right: 15px;
    padding-left: 9px;
  }
}

@media screen and (max-width: 1400px) {
  .card-size {
    padding-right: 28px;
    padding-left: 9px;
  }
}

@media screen and (max-width: 1366px) {
  .card-size {
    padding-right: 13px;
    padding-left: 9px;
  }
}

@media (min-width: 1700px) {
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 20.666667%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1330px) {
  .card-size {
    padding-right: 1px;
    padding-left: 12px;
  }
}

@media screen and (max-width: 1299px) {
  .card-size {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 51.666667%;
  }

  #Gridview {
    max-width: 1600px;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 50%;
  }
}
h4:first-letter {
  text-transform: capitalize;
}
#circularG {
  position: relative;
  width: 58px;
  height: 58px;
  margin: auto;
  left: 450px;
}

.col-space {
  padding: 8px;
}

.circularG {
  position: absolute;
  background-color: #466ce4;
  width: 14px;
  height: 14px;
  border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  animation-name: bounce_circularG;
  -o-animation-name: bounce_circularG;
  -ms-animation-name: bounce_circularG;
  -webkit-animation-name: bounce_circularG;
  -moz-animation-name: bounce_circularG;
  animation-duration: 1.1s;
  -o-animation-duration: 1.1s;
  -ms-animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  -moz-animation-duration: 1.1s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

#circularG_1 {
  left: 0;
  top: 23px;
  animation-delay: 0.41s;
  -o-animation-delay: 0.41s;
  -ms-animation-delay: 0.41s;
  -webkit-animation-delay: 0.41s;
  -moz-animation-delay: 0.41s;
}

#circularG_2 {
  left: 6px;
  top: 6px;
  animation-delay: 0.55s;
  -o-animation-delay: 0.55s;
  -ms-animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
  -moz-animation-delay: 0.55s;
}

#circularG_3 {
  top: 0;
  left: 23px;
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}

#circularG_4 {
  right: 6px;
  top: 6px;
  animation-delay: 0.83s;
  -o-animation-delay: 0.83s;
  -ms-animation-delay: 0.83s;
  -webkit-animation-delay: 0.83s;
  -moz-animation-delay: 0.83s;
}

#circularG_5 {
  right: 0;
  top: 23px;
  animation-delay: 0.97s;
  -o-animation-delay: 0.97s;
  -ms-animation-delay: 0.97s;
  -webkit-animation-delay: 0.97s;
  -moz-animation-delay: 0.97s;
}

#circularG_6 {
  right: 6px;
  bottom: 6px;
  animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}

#circularG_7 {
  left: 23px;
  bottom: 0;
  animation-delay: 1.24s;
  -o-animation-delay: 1.24s;
  -ms-animation-delay: 1.24s;
  -webkit-animation-delay: 1.24s;
  -moz-animation-delay: 1.24s;
}

#circularG_8 {
  left: 6px;
  bottom: 6px;
  animation-delay: 1.38s;
  -o-animation-delay: 1.38s;
  -ms-animation-delay: 1.38s;
  -webkit-animation-delay: 1.38s;
  -moz-animation-delay: 1.38s;
}

@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.3);
  }
}

@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(0.3);
  }
}

@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(0.3);
  }
}

@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.3);
  }
}

@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(0.3);
  }
}

/* font */
.text-font {
  font-family: Gilroy-Medium;
  font-weight: normal;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 36px;
  color: #000000;
}

.text-seemore {
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .text-font {
    font-size: 28px;
  }

  .text-seemore {
    font-size: 16px;
  }
}

.header-title {
  font-size: 23px;
  color: #000000;
}
.header-title span {
  font-size: 16px;
  text-decoration: underline;
  margin-left: 10px;
  color: green;
}

/* Loading Dots */

/* .loading1:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}} */

@keyframes blink {
  50% {
    color: transparent;
  }
}
.loader__dot {
  animation: 1s blink infinite;
}
.loader__dot:nth-child(2) {
  animation-delay: 250ms;
}
.loader__dot:nth-child(3) {
  animation-delay: 500ms;
}

@media screen and (max-width: 425px) {
  .mb-2 {
    margin-bottom: 0rem !important;
  }
}
