<div class="container" style="margin-top:50px;">
  <div style="padding-bottom: 10px;"></div>
  <h2 style="text-align:center;">Youcan Privacy Policy</h2>
  <div id="space"></div>
  <p>
    <i>YOUCAN LLC </i>("we") operates https://www.youcan.tech and its app on iOS and Google Play Store as mentioned on
    our website.</p>

  <p>This page informs you of our policies regarding the collection, use and disclosure of Personal Information we
    receive from
    users of our app.</p>

  <p>We use your Personal Information with the sole purpose to provide you a rich user experience. By using our app,
    you agree
    to the collection and use of information in accordance with our privacy policy.
  </p>
  <div id="space"></div>

  <h4>Information Collection And Use</h4>
  <div id="space"></div>

  <p>While using our apps, we may ask you to provide us with certain personally identifiable information that can be
    used to
    contact or identify you. Personally identifiable information is not limited to your name only.
  </p>
  <div id="space"></div>

  <h4>Log Data</h4>
  <div id="space"></div>

  <p>Like many apps on the application stores, we also collect information from our users.</p>

  <p>The sole purpose of collecting this information is to maintain a log to be used by our own machine learning
    algorithms.
    This log data makes it possible for youcan to help its users perform enhanced searching for events.</p>

  <p>This Log Data may include information such as timestamp, latitude and longitude, phone type, OS version, the views
    of our
    app that you visit, the time and date of your visit, the time spent on those views and other similar statistics.</p>

  <p>In addition, we may use third party platforms to collect relevant information from our users like;
    <b> Facebook Graph API, Google Client API, Google Places API</b>
  </p>

  <p>We deeply care about our users and their privacy, and we do not share their data with any third parties.
  </p>
  <div id="space"></div>

  <h4>Communications</h4>
  <div id="space"></div>

  <p>We may use your Personal Information to contact you for communication purposes with emails, notifications,
    newsletters,
    marketing or promotional materials etc.</p>
  <div id="space"></div>

  <h4>Security</h4>
  <div id="space"></div>

  <p>The security of your Personal Information is important to us, but remember that no method of transmission over the
    Internet,
    or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect
    your
    Personal Information, we cannot guarantee its absolute security.</p>
  <div id="space"></div>

  <h4>Changes To This Privacy Policy</h4>
  <div id="space"></div>

  <p>This Privacy Policy is effective as of
    <b>(Mar 03, 2017)</b> and will remain in effect except with respect to any changes in its provisions in the future,
    which
    will be in effect immediately after being posted on this page.</p>

  <p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy
    periodically.
    Your continued use of the Service after we post any modifications to the Privacy Policy on this page will
    constitute
    your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>

  <p>If we make any material changes to this Privacy Policy, we will notify you either through the email address you
    have provided
    us, sending you an in-app notification or by placing a prominent notice on our website.</p>


  <h4>Security</h4>
  <div id="space"></div>

  <p>If you have any questions about this Privacy Policy, please contact us at
    <b>customercare@youcan.tech</b>,
    <b>info@youcan.tech</b>
  </p>
  <div id="space"></div>

</div>