<!-- Actvity Details Starts From Here -->
<main id="main" class="bg-main" style="height: 1300px !important;">
    <div class="hid" style="overflow: hidden;">

        <img *ngIf="objNewsDetail.picture != null" class="bg-main" [src]="objNewsDetail.picture" alt=""
            style="width: 1920px; height: 450px;-webkit-filter: blur(30px); -moz-filter: blur(30px);-o-filter: blur(30px); -ms-filter: blur(30px); filter: blur(30px);">
    </div>

    <section *ngIf="objNewsDetail.picture != null" class="overlay">

        <div class="container p-5 ist" style="" *ngIf="LoadingFlag == 0">

            <div class="row bg-icons high">

                <div class="col-lg-5 order-1  p-1">
                    <img [src]="objNewsDetail.picture" (error)="updateUrl($event)" class="event-pic img-fluid"
                        alt="activity" />
                </div>
                <div class="col-lg-7 order-2 text-right">
                    <div class="container h-100">
                        <div class="row justify-content-left align-items-left clander-time-icons">

                            <div class="" style="text-align:left;">
                                <h1 class="avtivity-title font-text" style=" color: #322941;">
                                    {{ objNewsDetail.title}}</h1>

                            </div>
                            <div class="monDat" style="color: #322941;opacity: 0.4;">

                                {{objNewsDetail.source_name}}<span class="dot"></span> <span
                                    style="font-size: 13px; opacity: 0.4; color: #322941;">{{newstotalhours}}h
                                    ago</span>

                            </div>
                            <!--  -->
                            <!--  -->
                            <!--  -->
                            <div class="widt barset">
                                <div class="chr" style="">



                                    <div class="" style="">
                                        <div id=" progress" class="progress">
                                            <div class="progress-bar bg-weak"
                                                [style.width.%]="objNewsDetail.positive_percentage"></div>
                                            <div class="progress-bar bg-good"
                                                [style.width.%]="objNewsDetail.negative_percentage"></div>
                                            <div class="progress-bar bg-strong"
                                                [style.width.%]="objNewsDetail.unsure_percentage"></div>
                                        </div>
                                        <span class="ttl1" style="">{{objNewsDetail.total_votes}}
                                            votes</span>

                                    </div>





                                    <span class="barbtn">
                                        <div class="">

                                            <!-- Positive Vote start -->
                                            <button (click)="addVoteToNews()"
                                                *ngIf="objNewsDetail.positive_voted === false || objNewsDetail.positive_voted=== null"
                                                id="real"><span style="font-family: Gilroy-Bold;">Real</span><br>
                                                {{objNewsDetail.positive_votes}}
                                            </button>

                                            <button (click)="addVoteToNews()"
                                                *ngIf="objNewsDetail.positive_voted === true" id="real"
                                                style="background: #36D073 !important; color: white;"><span
                                                    style="font-family: Gilroy-Bold;">Real</span><br>
                                                {{objNewsDetail.positive_votes}}
                                            </button>
                                            <!-- Positive Vote end -->

                                            <!-- Not Sure Vote start -->

                                            <button (click)="notSureVoteToNews()"
                                                *ngIf="objNewsDetail.unsure === false || objNewsDetail.unsure === null"
                                                id="notsure"><span style="font-family: Gilroy-Bold;">Not sure</span>
                                                <br>
                                                {{objNewsDetail.unsure_votes}}</button>

                                            <button (click)="notSureVoteToNews()" *ngIf="objNewsDetail.unsure === true"
                                                id="notsure" style=" background: #FFBC00 !important; color: white;">
                                                <span style="font-family: Gilroy-Bold;">Not sure</span> <br>
                                                {{objNewsDetail.unsure_votes}}</button>

                                            <!-- Not sure Vote end -->

                                            <!-- Negative Vote start -->

                                            <button (click)="downVoteFromNews()"
                                                *ngIf="objNewsDetail.negative_voted === false || objNewsDetail.negative_voted === null"
                                                id="fake"><span style="font-family: Gilroy-Bold;">Fake </span><br>
                                                {{objNewsDetail.negative_votes}}</button>

                                            <button (click)="downVoteFromNews()"
                                                *ngIf="objNewsDetail.negative_voted === true" id="fake"
                                                style=" background: #FF6027 !important; color: white;"><span
                                                    style="font-family: Gilroy-Bold;">Fake
                                                </span><br>
                                                {{objNewsDetail.negative_votes}}</button>
                                            <!-- Negative Vote end -->

                                        </div>
                                        <!-- <button (click)="downVoteFromNews()" type="button" id="testBtn"
                                            class="btn  positive_votes" data-loading-text=" ... ">

                                            <img style="opacity: 1;z-index: 1;"
                                                src="../../../assets/Website_Icons/thumbdown.svg" alt="">
                                            <span style="padding-left: 3px;">
                                                {{objNewsDetail.negative_votes}}
                                            </span>
                                        </button>
                                        <button (click)="addVoteToNews()" type="button" id="testBtnDown"
                                            class="btn  negative_votes" data-loading-text=" ... ">
                                            <img style="opacity: 1;z-index: 1;"
                                                src="../../../assets/Website_Icons/thumbup.svg" alt="">

                                            {{objNewsDetail.positive_votes}}
                                        </button> -->
                                    </span>
                                </div>
                            </div>


                            <div class="widt wdt1">
                                <hr style="margin-bottom: 3px;opacity: 0.8; color: #EEEBF2;margin-top: 0px;">
                            </div>
                            <!--  -->
                            <!--  -->
                            <!--  -->
                            <div class="widt" style="padding-top: 8px;">

                                <div class="col-12" style="padding-left: 0px;">
                                    <div class="row no-gutters" style="height: 55px;">
                                        <div class="col-4">
                                            <div class="abc"
                                                style="text-align: left; padding-top: 15px; padding-left: 7px;">
                                                <img src="../../../assets/tools-and-utensils.svg" alt="Avatar"
                                                    class="image1"
                                                    style="width: 16px;padding-top: 3px;margin-left: 10px;">
                                                <div class="overlay2">
                                                    <div class="text srctext1" style="">
                                                        <a class="text new" href="{{objNewsDetail.source_link}}"
                                                            style="color:black;width: 102px !important;">{{objNewsDetail.source_link}}...</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6" style="padding-left: 30px;">

                                            <div class="slect" style=" ">
                                                <a (click)="addToWishList()">
                                                    <span style="padding-right: 25px;">
                                                        <img *ngIf="objNewsDetail.is_bookmarked === false"
                                                            src="../../../assets/Website_Icons/starred.png" alt=""
                                                            width="35px">
                                                        <img *ngIf="objNewsDetail.is_bookmarked === true"
                                                            src="../../../assets/Website_Icons/star_selected.svg" alt=""
                                                            width="35px">
                                                    </span>
                                                </a>
                                                <span class="dropdown-toggle wid" data-toggle="dropdown" Dropdown
                                                    button>
                                                    <img src="../../../assets/Website_Icons/shared.png" alt=""
                                                        width="35px"></span>

                                                <div class="dropdown-menu" style="min-width: 9rem;padding-left: 10px;">

                                                    <button
                                                        style="border: none; background: none; box-shadow: none !important;outline: none !important;"
                                                        class="" (click)="facebookSharing(shareObj)">
                                                        <img src="../../../assets/Website_Icons/fb.png" width="30px"
                                                            alt="">
                                                    </button>

                                                    <a style="padding-left: 5px;" class=""
                                                        href="https://twitter.com/intent/tweet?url={{url}}">
                                                        <img src="../../../assets/Website_Icons/in.png" width="30px"
                                                            alt="">
                                                    </a>


                                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title=YOUCANACTIVITY&summary=YourarticleSummary&source=YourarticleSource"
                                                        class="" style="padding-left: 15px; ">
                                                        <img src="../../../assets/Website_Icons/ln.png" width="30px"
                                                            alt="">
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--  -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="row my-5 justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <h3 class="event-name-font mb-3" style="font-family: BreeSerif-Regular;color: #322941;">News
                        description
                    </h3>
                    <p class="event-detail-font bloghtml" [innerHTML]="objNewsDetail.body">
                        <!-- {{ objNewsDetail.body }} -->
                    </p>
                </div>

                <div class="col-lg-4 col-md-12 one">
                    <!-- <h3 class="event-name-font mb-5">Activity host</h3> -->
                    <div class="row">
                        <!-- <div class="col" style="padding-left: 0px; font-family: BreeSerif-Regular; ">
                            <h3 style="font-size: 18px; color: #322941;">News location</h3>
                        </div> -->
                    </div>

                    <div class="row">

                        <!-- <span *ngIf="objNewsDetail.city != null; else useAddress" class="location-font">
                         
                        </span>
                        <ng-template #useAddress>
                            <span style="padding-top: 2px;color: #322941;">
                                {{objNewsDetail.city}}
                            </span>
                        </ng-template> -->
                    </div>



                    <div class="row">
                        <div class="col-lg-8 col-md-12 ">
                            <div class="row row-new">
                                <div class="wide margin-ud">
                                    <!-- <agm-map [latitude]="lat" [longitude]="lng">
                      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map> -->

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <!-- Activities and banner -->

        <!-- <div class="container"
            style="max-width: 960px; ;height: 90px;margin-bottom: 50px;background: #D4D4D4 0% 0% no-repeat padding-box;opacity: 1;">
            <div class="row" style="    margin-top: 30px;">
                <div class="col-12"
                    style="text-align: center;padding-top: 30px; font-size: 26px;color: #9B9B9B;opacity: 1;">
                    Add Banner
                </div>
            </div>
        </div> -->


        <div class="container" id="lst" style="margin-top: 40px;">
            <div class="row">
                <div class="col-12"
                    style="letter-spacing: 0px;color: #322941;opacity: 1; font-size: 26px; font-weight: bold;padding-bottom: 15px;">

                    You may like

                </div>
            </div>
            <div class="row">

                <div class="col-12">


                    <div style=''>
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                            (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem *ngFor="let slide of slides;let activity of newlyAddedList| slice:0:4">
                                <div style="padding: 10px;">
                                    <div *ngIf="activity.picture != null">

                                        <app-newscard [news]="activity"></app-newscard>
                                    </div>

                                    <div *ngIf="activity.picture === null">
                                        <app-newscardwithoutimg [news]="activity"></app-newscardwithoutimg>
                                    </div>
                                </div>
                            </div>
                        </ngx-slick-carousel>

                    </div>
                </div>

            </div>
        </div>

    </section>
    <section *ngIf="objNewsDetail.picture === null" class="overlay top2" style="top: 60px; bottom:0px;">

        <div class="container p-5 ist" *ngIf="LoadingFlag == 0">

            <div class="row bg-icons high smhigh">

                <!-- <div class="col-lg-5 order-1  p-0">
            <img [src]="objActivityDetail.cover" (error)="updateUrl($event)" class="event-pic img-fluid" alt="activity" />
          </div> -->
                <div class="col-lg-7 order-2 text-right">
                    <div class="container h-100">
                        <div class="row h-100 justify-content-left align-items-left clander-time-icons">

                            <div class="" style="text-align:left;">
                                <h1 class="avtivity-title font-text" style="padding-left: 0px !important;">
                                    {{ objNewsDetail.title}}</h1>

                            </div>
                            <div class="monDat"
                                style="padding-left: 0px !important; width: 490px;color: #322941;opacity: 0.4;">

                                {{objNewsDetail.source_name}}<span class="dot"></span> <span
                                    style="font-size: 13px; opacity: 0.4; color: #322941;">{{newstotalhours}}h
                                    ago</span>

                            </div>

                            <!--  -->
                            <!--  -->
                            <!--  -->
                            <div class="widt barset" style="padding-left: 0px;">
                                <div class="chr">



                                    <div class="" style="margin-top: 8px;">
                                        <div id=" progress" class="progress">
                                            <div class="progress-bar bg-weak"
                                                [style.width.%]="objNewsDetail.positive_percentage"></div>
                                            <div class="progress-bar bg-good"
                                                [style.width.%]="objNewsDetail.negative_percentage"></div>
                                            <div class="progress-bar bg-strong"
                                                [style.width.%]="objNewsDetail.unsure_percentage"></div>
                                        </div>
                                        <span class="ttl2" style="">{{objNewsDetail.total_votes}}
                                            votes</span>

                                    </div>





                                    <span class="barbtn">
                                        <!-- <button
                                            *ngIf="objNewsDetail.negative_voted === false || objNewsDetail.negative_voted === null"
                                            (click)="downVoteFromNews()" type="button" id="testBtn"
                                            class="btn  positive_votes" data-loading-text=" ... ">
                                            <img style="opacity: 1;z-index: 1;"
                                                src="../../../assets/Website_Icons/thumbdown.svg" alt="">
                                            <span
                                                style="opacity: 1;padding-left: 3px;">{{objNewsDetail.negative_votes}}</span>
                                        </button>

                                        <button *ngIf="objNewsDetail.negative_voted === true"
                                            style="background-color: #FF6978;border-color: #FF6978;"
                                            (click)="downVoteFromNews()" type="button" id="testBtn"
                                            class="btn  positive_votes" data-loading-text=" ... ">

                                            <img style="opacity: 1;z-index: 1; width: 13px;"
                                                src="../../../assets/Website_Icons/thumb-down.svg" alt="">
                                            <span
                                                style="opacity: 1;padding-left: 3px;color: white;">{{objNewsDetail.negative_votes}}</span>
                                        </button>

                                        <button
                                            *ngIf="objNewsDetail.positive_voted === false || objNewsDetail.positive_voted === null"
                                            (click)="addVoteToNews()" type="button" id="testBtnDown"
                                            class="btn  negative_votes" data-loading-text=" ... ">
                                            <img style="opacity: 1;z-index: 1;"
                                                src="../../../assets/Website_Icons/thumbup.svg" alt="">
                                            <span style="opacity: 1;">
                                                {{objNewsDetail.positive_votes}}
                                            </span>
                                        </button>
                                        <button *ngIf="objNewsDetail.positive_voted === true"
                                            style="background-color: #36D073; border-color: #36D073;"
                                            (click)="addVoteToNews()" type="button" id="testBtnDown"
                                            class="btn  negative_votes" data-loading-text=" ... ">
                                            <img style="opacity: 1;z-index: 1;width: 13px;"
                                                src="../../../assets/Website_Icons/thumbsup.svg" alt="">
                                            <span style="opacity: 1; color: white;">
                                                {{objNewsDetail.positive_votes}}
                                            </span>

                                        </button> -->

                                        <div class="">

                                            <!-- Positive Vote start -->
                                            <button (click)="addVoteToNews()"
                                                *ngIf="objNewsDetail.positive_voted === false || objNewsDetail.positive_voted=== null"
                                                id="real"><span style="font-family: Gilroy-Bold;">Real</span><br>
                                                {{objNewsDetail.positive_votes}}
                                            </button>

                                            <button (click)="addVoteToNews()"
                                                *ngIf="objNewsDetail.positive_voted === true" id="real"
                                                style="background: #36D073 !important; color: white;"><span
                                                    style="font-family: Gilroy-Bold;">Real</span><br>
                                                {{objNewsDetail.positive_votes}}
                                            </button>
                                            <!-- Positive Vote end -->

                                            <!-- Not Sure Vote start -->

                                            <button (click)="notSureVoteToNews()"
                                                *ngIf="objNewsDetail.unsure === false || objNewsDetail.unsure === null"
                                                id="notsure"><span style="font-family: Gilroy-Bold;">Not sure</span>
                                                <br>
                                                {{objNewsDetail.unsure_votes}}</button>

                                            <button (click)="notSureVoteToNews()" *ngIf="objNewsDetail.unsure === true"
                                                id="notsure" style=" background: #FFBC00 !important; color: white;">
                                                <span style="font-family: Gilroy-Bold;">Not sure</span> <br>
                                                {{objNewsDetail.unsure_votes}}</button>

                                            <!-- Not sure Vote end -->

                                            <!-- Negative Vote start -->

                                            <button (click)="downVoteFromNews()"
                                                *ngIf="objNewsDetail.negative_voted === false || objNewsDetail.negative_voted === null"
                                                id="fake"><span style="font-family: Gilroy-Bold;">Fake </span><br>
                                                {{objNewsDetail.negative_votes}}</button>

                                            <button (click)="downVoteFromNews()"
                                                *ngIf="objNewsDetail.negative_voted === true" id="fake"
                                                style=" background: #FF6027 !important; color: white;"><span
                                                    style="font-family: Gilroy-Bold;">Fake
                                                </span><br>
                                                {{objNewsDetail.negative_votes}}</button>
                                            <!-- Negative Vote end -->

                                        </div>


                                    </span>
                                </div>
                            </div>


                            <div class="widt wdt1" style="padding-left: 0px;padding-bottom: 10px; width: 440px;">
                                <hr style="margin-bottom: 3px;opacity: 0.8; color: #EEEBF2;margin-top: 0px;">
                            </div>
                            <!--  -->
                            <!--  -->
                            <!--  -->
                            <div class="widt" style="padding-left: 0px !important;">
                                <div class="col-12" style="padding-left: 0px !important;">
                                    <div class="row no-gutters" style="height: 55px;">
                                        <div class="col-4">
                                            <div class="abc"
                                                style="text-align: left; padding-top: 15px; padding-left: 7px;">
                                                <img src="../../../assets/tools-and-utensils.svg" alt="Avatar"
                                                    class="image1"
                                                    style="width: 16px;padding-top: 3px; margin-left: 10px;">
                                                <div class="overlay1" id="overly" style="">
                                                    <div class="text srctext" style="">
                                                        <a class="text new" href="{{objNewsDetail.source_link}}"
                                                            style="color:black;width: 102px !important;">{{objNewsDetail.source_link}}...</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6" style="padding-left: 30px;">

                                            <div class="slect" style=" ">
                                                <a (click)="addToWishList()">
                                                    <span style="padding-right: 25px;">
                                                        <img *ngIf="objNewsDetail.is_bookmarked === false"
                                                            src="../../../assets/Website_Icons/starred.png" alt=""
                                                            width="35px">
                                                        <img *ngIf="objNewsDetail.is_bookmarked === true"
                                                            src="../../../assets/Website_Icons/star_selected.svg" alt=""
                                                            width="35px">
                                                    </span>
                                                </a>

                                                <span class="dropdown-toggle wid" data-toggle="dropdown" Dropdown
                                                    button>
                                                    <img src="../../../assets/Website_Icons/shared.png" alt=""
                                                        width="35px"></span>

                                                <div class="dropdown-menu" style="min-width: 9rem;padding-left: 10px;">

                                                    <button class=""
                                                        style="border: none; background: none; box-shadow: none !important;outline: none !important;"
                                                        (click)="facebookSharing(shareObj)">
                                                        <img src="../../../assets/Website_Icons/fb.png" width="30px"
                                                            alt="">
                                                    </button>

                                                    <a style="padding-left: 5px;" class=""
                                                        href="https://twitter.com/intent/tweet?url={{url}}">
                                                        <img src="../../../assets/Website_Icons/in.png" width="30px"
                                                            alt="">
                                                    </a>


                                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title=YOUCANACTIVITY&summary=YourarticleSummary&source=YourarticleSource"
                                                        class="" style="padding-left: 15px; ">
                                                        <img src="../../../assets/Website_Icons/ln.png" width="30px"
                                                            alt="">
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row my-5 justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <h3 class="event-name-font mb-2" style="font-family: BreeSerif-Regular;color: #322941;">News
                        description
                    </h3>
                    <p hm-limit="100" hm-more-text="read more" class="event-detail-font bloghtml"
                        [innerHTML]="objNewsDetail.body">
                        <!-- {{ objNewsDetail.body }} -->
                    </p>
                </div>

                <div class="col-lg-4 col-md-12 one">
                    <!-- <h3 class="event-name-font mb-5">Activity host</h3> -->
                    <div class="row">
                        <!-- <div class="col" style="padding-left: 0px; font-family: BreeSerif-Regular; ">
                            <h3 style="font-size: 18px; color: #322941;">News location</h3>
                        </div> -->
                    </div>

                    <div class="row">

                        <!-- <span *ngIf="objNewsDetail.city != null; else useAddress" class="location-font">
                     
                        </span>
                        <ng-template #useAddress>
                            <span style="padding-top: 2px;color: #322941;">
                                {{objNewsDetail.city}}
                            </span>
                        </ng-template> -->
                    </div>



                    <div class="row">
                        <div class="col-lg-8 col-md-12 ">
                            <div class="row row-new">
                                <div class="wide margin-ud">
                                    <!-- <agm-map [latitude]="lat" [longitude]="lng">
                      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map> -->

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <!-- Activities and banner -->

        <!-- <div class="container"
            style="max-width: 960px; ;height: 90px;margin-bottom: 50px;background: #D4D4D4 0% 0% no-repeat padding-box;opacity: 1;">
            <div class="row" style="    margin-top: 30px;">
                <div class="col-12"
                    style="text-align: center;padding-top: 30px; font-size: 26px;color: #9B9B9B;opacity: 1;">
                    Add Banner
                </div>
            </div>
        </div> -->


        <div class="container" id="lst" style="margin-top: 40px;">
            <div class="row">
                <div class="col-12"
                    style="letter-spacing: 0px;color: #322941;opacity: 1; font-size: 26px; font-weight: bold;padding-bottom: 15px;">

                    You may like

                </div>
            </div>
            <div class="row">

                <!-- <div *ngFor="let activity of newlyAddedList| slice:0:4" class="col-lg-3 col-md-6 col-12 card-size mb-4">
                  
                    <div *ngIf="activity.picture != null">

                        <app-newscard [news]="activity"></app-newscard>
                    </div>

                    <div *ngIf="activity.picture === null">
                        <app-newscardwithoutimg [news]="activity"></app-newscardwithoutimg>
                    </div>
                </div> -->
                <div class="col-12">


                    <div style=''>
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                            (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem *ngFor="let slide of slides;let activity of newlyAddedList| slice:0:4">
                                <div style="padding: 10px;">
                                    <div *ngIf="activity.picture != null">

                                        <app-newscard [news]="activity"></app-newscard>
                                    </div>

                                    <div *ngIf="activity.picture === null">
                                        <app-newscardwithoutimg [news]="activity"></app-newscardwithoutimg>
                                    </div>
                                </div>
                            </div>
                        </ngx-slick-carousel>

                    </div>
                </div>

            </div>
        </div>

    </section>



    <!-- for side br -->
    <section class="overlay-social-btn align-items-center show-hide">
        <ul style="list-style-type: none;">
            <div class=" btn-group-justified btn-group-sm btn-group-vertical " style="margin-left:34px;">
                <button type="button" class="btn single-social" style="padding: 20px 15px;" (click)="gobackPage()">
                    <img class="d-flex align-items-center" src="../../../assets/back.png" alt="back" />
                </button>
            </div>
        </ul>
        <ul style="list-style-type: none;">
            <div class=" btn-group-justified btn-group-sm btn-group-vertical " style="margin-left:30px;">


                <button type="button" id="facebook" class="btn single-social" (click)="FacebookLink()">
                    <img src="../../../assets/Website_Icons/fb.png" alt="facebook" width="42px" />
                </button>

                <button type="button" id="insta" class="btn single-social" (click)="InstagramLink()">
                    <img src="../../../assets/Website_Icons/in.png" alt="instagram" width="42px" />
                </button>

                <button type="button" id="ln" class="btn single-social p-2" (click)="LinkedinLink()">
                    <img src="../../../assets/Website_Icons/ln.png" alt="linkedin" width="42px" />
                </button>
            </div>
        </ul>
    </section>
</main>


<!--  -->
<!--  -->
<!--  -->
<!-- without card -->

<!-- -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-filter: blur(50px) brightness(.9);
      -ms-filter: blur(50px) brightness(.9);
      filter: blur(50px) brightness(.9); -->